.slider__container {
    padding: 1rem;
}

.card__container {
    padding: 1rem;
    height: 200px;
}

.canvas__container {
    width: 400px;
    height: 900px;
    margin: auto;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvas__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.info_circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 50%);
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    align-content: center;
}

.info_circle:hover {
    background-color: rgba(255, 255, 255, 80%);
    cursor: pointer;
}

.info_circle__text {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    pointer-events: none;
}

.info_circle__temperature {
    composes: info_circle__text;
    color: red;
}

.info_circle__humidity {
    composes: info_circle__text;
    color: blue;
}

.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131313;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
}

.modal__content {

}