.initial__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.name {
    line-height: 5rem;
    margin: 0;
    color: #fff;
    font-size: 7rem;
    font-weight: bold;
}

.name__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.image__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.avatar__container {
    padding-top: 5rem;
    display: flex;
    align-content: center;
    position: relative;
}

.menu {
    gap: 2rem;
    flex: 50%;
    display: flex;
}

.menu__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 50%;
    align-items: center;
}

.menu__item {
    color: white;
    border: 1px solid white;
}

.menu__item__text {
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: white;
}

.menu__item:hover {
    background-color: white;
    cursor: pointer;
}

.menu__item:hover > .menu__item__text {
    color: black;
}

.frontpage__description__container {
    display: flex;
}

.frontpage__description__container__left {
    font-size: 5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.frontpage__description__container__right {
    padding: 0 3rem;
    font-size: 1rem;
    margin: auto;
    height: 100%;
    width: 100%;
}

.project__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.project__item {
    border: 1px solid white;
    padding: 1rem;
}