.hero__container {
    display: flex;
    flex-direction: column;
    max-height: 900px;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 50px 50px #131313 inset;
}

@media (min-width: 769px) {
    .hero__container {
        height: 100%;
    }
}

.image__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
}


@media (min-width: 339px) {
    .image__container {
        height: 400px;
    }
}

@media (min-width: 479px) {
    .image__container {
        height: 500px;
    }
}

.avatar__container {
    display: flex;
    align-content: center;
    position: relative;
}

@media (min-width: 479px) {
    .avatar__container {
        padding: 0 5rem;
    }
}

.menu {
    gap: 2rem;
    flex: 50%;
    display: flex;
}

.menu__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 50%;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 672px) {
    .menu__buttons {
        display: flex;
        flex-direction: row;
    }
}

.menu__item {
    color: white;
    border: 1px solid white;
    background-color: black;
    font-family: "Space Mono", monospace;
}

.menu__item__text {
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: white;
}

.menu__item:hover {
    background-color: white;
    cursor: pointer;
}

.menu__item:hover > .menu__item__text {
    color: black;
}

.frontpage__description__container {
    display: block;
}

@media (min-width: 769px) {
    .frontpage__description__container {
        display: flex;
        flex-direction: row;
    }
}

.text_section__heading {
    height: 100%;
    width: 100%;
    margin: auto;
}

.text_section__heading > h2 {
    font-size: var(--font-size-xxxl);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 769px) {
    .text_section__heading {
        font-size: 5rem;
        padding: 0 0 0 3rem;
    }
}

.text_section__paragraph {
    padding: 3rem;
    font-size: var(--font-size-md);
    margin: auto;
    height: 100%;
    text-align: justify;
}

@media (min-width: 769px) {
    .text_section__paragraph {
        font-size: 1rem;
        padding: 0 3rem;
    }
}


.project__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.project__item {
    border: 1px solid white;
    padding: 1rem;
}

.footer__container {
    padding: 5rem 0;
    text-align: center;
}

.layout {
    max-width: 100%;
    margin: auto;
}

@media (min-width: 1024px) {
    .layout {
        max-width: 1024px;
    }
}

.title__container {
    padding: 3rem 0;
    text-align: center;
}

.tsparticles__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}