
.main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.name {
    line-height: 5rem;
    margin: 0;
    color: #fff;
    font-size: 7rem;
  font-weight: bold;
    font-family: "Space Mono", monospace;
}

.name__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.image__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.avatar__container {;
    display: flex;
    align-content: center;
    position: relative;
}